@import "tailwindcss";

@theme {
  --color-brand-primary: #013047;
  --color-brand-teal: #0081a2;
  --color-brand-accent: #00c1b2;
  --color-brand-deep: #006d86;
  --color-brand-hover: #0082a3;
  --color-brand-chip: #e4f8ff;
}

@layer base {
  body {
    @apply  antialiased;
    margin: 0;
  }
}
